.productTypeTable {
  border-width: medium;
  border-style: solid;
  padding: 5px;
  background-color: cornflowerblue;
}

.productTypeTable td {
  border-style: solid;
  border-width: thin;
  padding: 5px;
}
