<div id="table-datatables">
  <div class="row">
    <div class="col s12 m8 l9">
      <table id="data-table-simple" class="responsive-table display striped" cellspacing="0">
        <thead>
        <tr>
          <th>Customer Code</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Contact Phone</th>
          <th>Contact Mobile</th>
          <th>
            <a class="btn-floating btn-flat waves-effect waves-light white-text teal darken-1" routerLink="/customeradd"><i class="mdi-content-add small"></i></a>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr role="row" class="even" *ngFor="let row of lstCustomer">
          <td>{{row.customerCode}}</td>
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.phoneNo}}</td>
          <td>{{row.mobileNo}}</td>
          <td>
            <a class="btn-floating btn-flat waves-effect waves-light white-text teal darken-1" routerLink="/customeredit/{{row.customerKey}}"><i class="mdi-av-play-arrow small"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

